<!DOCTYPE html>
<html>

<body>

			<h1>Recipe App</h1>


			<a href="/">
				<span>Home</span>
			</a>
			<a href="/courses">
				<span>Cooking Courses</span>
			</a>
			<a href="/contact">
				<span>Contact</span>
			</a>

	<div>
		<%- body %>
	</div>

</body>

</html>
